
<ul class="pokemons" >
    <li class="pokemon {{pokemon.type}}" *ngFor="let pokemon of pokemons">
      <h2 style="color: white;margin-top: 0;margin-bottom: 0.5px;"><i>{{pokemon.name}}</i></h2>
      <div *ngFor="let ability of pokemon.abilities">
        <span>{{ability.ability.name}}</span>
      </div>
      <div class="image-container">
        <img src="{{pokemon.sprites}}" class="pokemon-image" />
      </div>
      <div class="types" >
        <div class="type-{{type.type.name}}" *ngFor="let type of pokemon.types">
          <span>{{type.type.name}}</span>
        </div>
      </div>
    </li>
</ul>
<!--<span>{{limit}}</span>-->
<div class="button-container">
  <div class="loadButton" style="font-family: Roboto" (click)="adicionarOffset()">Carregar Mais</div>
</div>

