
<ul class="pokemons" >
    <li class="pokemon {{pokemon.type}}" *ngFor="let pokemon of pokemons">
      <span>{{pokemon.name}}</span>
      <div *ngFor="let ability of pokemon.abilities">
        <span>{{ability.ability.name}}</span>
      </div>
      <div class="image-container">
        <img src="{{pokemon.sprites}}" class="pokemon-image" />
      </div>
      <div class="types" >
        <div class="type-{{type.type.name}}" *ngFor="let type of pokemon.types">
          <span>{{type.type.name}}</span>
        </div>
      </div>
    </li>
</ul>
<!--<span>{{limit}}</span>-->
<button (click)="adicionarOffset()">Adicionar Limite</button>
<button (click)="zerarContagem()" >Zerar Contagem</button>
