body
  font-family: Roboto, sans-serif, "Roboto Light", "Roboto Thin"

.pokemon
  height: 200px
  width: 200px
  padding: 50px
  border-radius: 30px
  margin: 1em 1em 1em 1em
  font-family: Roboto, sans-serif, "Roboto Light", "Roboto Thin"


.pokemon-image
  width: 50%
  height: 50%

.pokemons
  list-style: none
  display: flex
  //justify-content: space-evenly
  justify-content: center
  flex-wrap: wrap

.image-container
  display: flex
  justify-content: flex-end

.fire
  background: #fd2121

.type-fire
  background: #ff5050
  width: 25%
  padding: 3px 5px
  border-radius: 10px
  margin: 0 0 5px 0

.grass
  background: #34ab34


.type-grass
  background: #71f171
  width: 25%
  padding: 3px 5px
  border-radius: 10px
  margin: 0 0 5px 0

.poison
  background: darkmagenta

.type-poison
  background: #c700ae
  width: 25%
  padding: 3px 5px
  border-radius: 10px
  margin: 0 0 5px 0

.water
  background: #00bbff

.type-water
  background: #b9c8ff
  width: 25%
  padding: 3px 5px
  border-radius: 10px
  margin: 0 0 5px 0

.bug
  background: #96ad00

.type-bug
  background: #e8ff63
  width: 25%
  padding: 3px 5px
  border-radius: 10px
  margin: 0 0 5px 0

.normal
  background: #8d8d8d

.type-normal
  background: #c9c9c9
  width: 25%
  padding: 3px 5px
  border-radius: 10px
  margin: 0 0 5px 0


.flying
  background: #8d8d8d

.type-flying
  background: #e7e7e7
  width: 25%
  padding: 3px 5px
  border-radius: 10px
  margin: 0 0 5px 0

.electric
  background: #ffcb00

.type-electric
  background: #f8f400
  width: 25%
  padding: 3px 5px
  border-radius: 10px
  margin: 0 0 5px 0

.ground
  background: #886100

.type-ground
  background: #a67700
  width: 25%
  padding: 3px 5px
  border-radius: 10px
  margin: 0 0 5px 0

.fairy
  background: #f458ff

.type-fairy
  background: #f19dfa
  width: 25%
  padding: 3px 5px
  border-radius: 10px
  margin: 0 0 5px 0

.loadButton
  border-radius: 10px
  padding: 1em
  background: red
  cursor: pointer
  width: 10%
  height: 10%
  text-align: center
  border: 1px solid black
  font-family: "JetBrains Mono", serif
  margin: 1em

.button-container
  display: flex
  justify-content: center





